name: Daily

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # midnight, every day

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      name: Install Rust
      with:
        toolchain: 1.82.0
        override: true

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libudev-dev
    
    - name: Build (Default)
      run: cargo build
    
    - name: Build (UBX14)
      run: cargo build --no-default-features --features ubx14
    
    - name: Build (UBX23)
      run: cargo build --no-default-features --features ubx23
    
    - name: Build (UBX27)
      run: cargo build --no-default-features --features ubx27
    
    - name: Build (UBX31)
      run: cargo build --no-default-features --features ubx31
